// font
$montserrat: "Montserrat", "Helvetica", sans-serif;
$mulish: "Mulish", "Arial", sans-serif;

// colors
$primary: #171717;
$basic-black: #000000;
$basic-white: #ffffff;
$basic-grey: #666666;

$extra-black: #131313;
$extra-grey: #c2ab81;

$popup-grey: #808080;
$popup-invalid: #e74c3c;
$popup-form-field: #2b2b2b;

//Viewport
$xxlarge: 1439px;
$xlarge: 1199px;
$large: 1023px;
$medium: 767px;

//Position
$z-index-background: -1;
$z-index-base: 1;
$z-index-popup: 3;
