.header {
  background-color: $extra-black;

  &--fixed {
    @media (max-width: $large) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      overflow: scroll;
      z-index: $z-index-popup;
    }
  }
}

.header__inner {
  display: flex;
  flex-wrap: wrap;
  padding-top: 28px;
  padding-bottom: 29px;
  width: 100%;
  min-height: 60px;

  @media (max-width: $large) {
    position: relative;
    padding-top: 30px;
    padding-bottom: 20px;
  }

  @media (max-width: $medium) {
    padding-top: 15px;
    padding-bottom: 18px;
  }
}

.header__logo {
  @media (max-width: $large) {
    margin-left: 137px;
  }

  @media (max-width: $medium) {
    margin-left: auto;
  }

  &--no-js {
    @media (min-width: $medium + 1) and (max-width: $large) {
      margin-left: 0;
    }
  }
}

.header__nav {
  flex: 0 1 52%;
  margin: auto auto auto calc(3.2%);

  @media (min-width: $xxlarge + 1) {
    min-width: 863px;
  }

  @media (max-width: $xxlarge) {
    order: 1;
    flex-basis: 90%;
    margin: auto;
  }

  @media (max-width: $large) {
    flex-basis: 100%;
  }
}

.header__contacts {
  flex: 1 1 20%;
  margin-left: auto;
  max-width: 388px;

  @media (max-width: $large) {
    margin-right: 25px;
    max-width: 269px;
  }

  @media (max-width: $medium) {
    order: 2;
    margin-right: auto;
    max-width: 272px;
  }
}
