.page {
  height: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  font-family: $montserrat;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  color: $basic-grey;
  background-color: $extra-black;

  &--scroll-lock {
    height: 100vh;
    background-color: rgba($basic-black, 0.8);
    overflow: hidden;
  }
}

.page__container {
  margin: 0 auto;
  padding: 0 40px;

  @media (min-width: $large + 1) {
    max-width: 1800px;
  }

  @media (max-width: $medium) {
    padding: 0 14px;
  }
}
